<h1> Maximo VLC </h1>
<img src="http://placekitten.com/g/200/200" />
<h2>Estoy probando a publicar un sitio con Ruby-Sinatra</h2>
<p>Quiero dedicarme a desarrollar-programar app web</p>
<a href="http://harrenhal-rails-96914.euw1-2.nitrousbox.com:4000/read_more"> Read_more </a>
