 <h1> Welcome to my Twitter profile! </h1>
 <div class="profile">
   <h1> Max VLC </h1>
   <h2>Estoy probando a publicar un sitio con Ruby-Sinatra</h2>
   <p>Quiero dedicarme a desarrollar-programar app web</p>
   <a href="http://demosinatra.herokuapp.com/read_more"> Read_more </a>
</div>
<img src="kwan-yin.jpg" />

